@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f3f6;
}

.scrollbar-h::-webkit-scrollbar {
  display: none;
}

.scrollbar-h {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-length {
  position: absolute;
  left: 0;
  top: -14px;
  text-align: center;
  border-radius: 7px;
  width: 18px;
  height: 18px;
  background-color: #ff6161;
  border: 1px solid #fff;
  font-weight: 400;
  color: #f0f0f0;
  line-height: 18px;
  font-size: 12px;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  position: absolute !important;
  width: 40px !important;
  background-color: #fff !important;
  height: 88px !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: auto 0 !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev:after {
  content: "" !important;
  position: relative;
  border-color: #878787;
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 6px;
  width: 6px;
  transform: rotate(225deg);
}

.swiper-button-next:after {
  content: "" !important;
  position: relative;
  border-color: #878787;
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none !important;
}

/* Loading Spiner */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
